@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 233, 237, 239;
  --background-start-rgb: 17, 27, 33;
  --background-end-rgb: 17, 27, 33;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer base {
  * {
    @apply border-dark-tertiary;
  }
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #374045;
}